/* Created by Captain_Murtuza */

body{
 background-color: white;
}
.smalltext{
				font-family: 'Oleo Script', cursive;
				font-size: 40px;
}
span{
				font-family: 'Oleo Script', cursive;
				font-size: 40px;
}
#title{
    font-size:60px;
    text-align:center;
    color:red;
    margin-top:125px;
				font-family: 'Oleo Script', cursive;
}
#cake{
    width:100px;
    height:110px;
    float:center ;
    padding-top:30px;
}
.cake{
    height:75px;
    width:250px;
    margin:0 auto 0 auto;
    background-color:#ffccee;
    border-radius:20px 20px 0 0;
    border:6px solid #542e04;
     background:linear-gradient(180deg, 
    #ffccee 0% 10%,
    #542f04 10% 15%, 
    #ffccee 15% 25%, 
    #542f04 25% 30%, 
    #ffccee 30% 40%, 
    #542f04 40% 45%, 
     #ffccee 45% 55%, 
      #542f04 55% 60%, 
         #ffccee 60% 70%, 
         #542f04 70% 75%, 
            #ffccee 75% 85%, 
            #542f04 85% 90%, 
    #ffccee 90%);
    background-size:50px 50px;
    margin-left:40px;
}

.cake:before{
    content:"";
    position:absolute ;
    width:inherit ;
    height:50px;
    background-size:inherit ;
    background-repeat:repeat ;
    background-image:
    radial-gradient(circle at 25px 5px,#542f04 30px,transparent 0px);
    radial-gradient(circle at 15px 15px,rgba(0,0,0,0.3)15px ,transparent 0px);
    
}
.cake:after{
    content:"";
    position:absolute ;
    width:20px;
    height:55px;
    border-radius:10px;
    background-color:#542f04;
    margin-left:10px;
}
#middle{
    width:200px;
    height:60px;
    border-bottom:none ;
    margin-left:65px;
}
#top{
    width:150px;
    height:60px;
    border-bottom:none ;
    margin-left:90px;
}
.cherry{
    width:200px;
    height:20px;
    margin-top:-23px;
    border-radius:50%;
    z-index:3;
}
.cherry div{
    height:9px;
    width:10px;
    left:80px;
    background:red;
    position:relative;
    border-radius:50%;
    display:inline-block;
    z-index:4;
}
.cherry div:nth-child(1){
 left:10px; 
 top:2px;  
}
.cherry div:nth-child(2){
 left:30px; 
 top:2px;  
}
.cherry div:nth-child(3){
 left:50px; 
 top:2px;  
}
.cherry div:nth-child(4){
 left:70px; 
 top:2px;  
}
.cherry div:nth-child(5){
 left:90px; 
 top:2px;  
}
.cherry div:nth-child(6){
 left:110px; 
 top:2px;  
}
.cherry div:nth-child(7){
 left:125px; 
 top:2px;  
}
.cherry div:nth-child(8){
 left:135px; 
 top:2px;  
}

.che{
    width:200px;
    height:20px;
    margin-top:-23px;
    border-radius:50%;
    z-index:3;
}
.che div{
    height:9px;
    width:10px;
    left:80px;
    background:red;
    position:relative;
    border-radius:50%;
    display:inline-block;
    z-index:4;
}
.che div:nth-child(1){
 left:10px; 
 top:2px;  
}
.che div:nth-child(2){
 left:20px; 
 top:2px;  
}
.che div:nth-child(3){
 left:30px; 
 top:2px;  
}
.che div:nth-child(4){
 left:40px; 
 top:2px;  
}
.che div:nth-child(5){
 left:50px; 
 top:2px;  
}
.che div:nth-child(6){
 left:60px; 
 top:2px;  
}
#candle{
    height:50px;
    width:20px;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    background-color:#663300;
    margin-left:162px;
}
.flame{
    background-color: #fbb200;
    height: 22px;
    width: 22px;
    border-radius: 0 50% 50% 50%;
    position: absolute;
    /*top: 32px;*/
    transform: rotate(45deg);
    margin-left:161px;
    margin-top:-74px;
    -webkit-transform: rotate(45deg);
    box-shadow:0 0 15px 2px rgb(251, 178, 0,0.6);
    animation: glow 2s infinite;
    -webkit-animation: glow 2s infinite;
}
@keyframes glow{
    50%{
        box-shadow:0 0 2px 0 rgb(251, 178, 0,0.6);
        transform:rotate(35deg);
    }
}
@-webkit-keyframes glow{
    50%{
        box-shadow:0 0 2px 0 rgb(251, 178, 0,0.9);
         transform:rotate(35deg);
    }
}
#ballon {
    position: absolute;
    z-index: -4
}

#ballon1 {
    width: 150px;
    height: 150px;
    background-image: url(https://image.flaticon.com/icons/svg/194/194366.svg);
    position: absolute;
    transform: rotateZ(0deg);
    left: 17px;
    top: 5rem;
    animation: ballon1 3s linear 0.1s infinite;
    transform-origin: bottom;
}

@keyframes ballon1 {
    0%,
    100% {
        transform: rotateZ(-40deg)
    }
    30% {
        transform: rotateZ(0deg)
    }
    60% {
        transform: rotateZ(-20deg)
    }
}

#ballon2 {
    width: 140px;
    height: 140px;
    background-image: url(https://image.flaticon.com/icons/svg/194/194366.svg);
    position: absolute;
    transform: rotateZ(20deg);
    left: 50%;
				top: 5rem;
    animation: ballon2 3s linear 0.1s infinite;
    transform-origin: bottom;
}
.container{
				margin-top: 5rem;
}
#clockdiv h1{ 

  color: red; 

  font-weight: 100; 

  font-size: 40px; 

  margin: 40px 0px 20px; 
} 

 #clockdiv{ 

    font-family: sans-serif; 

    color: red; 

    display: inline-block; 

    font-weight: 100; 

    text-align: center; 

    font-size: 30px; 
} 
#clockdiv > div{
				
    border-radius: 3px; 

    background: white ;

    display: inline-block; 
} 
#clockdiv div > span{ 
				
    border-radius: 3px; 

    background: white; 

    display: inline-block; 
} 
#hour{
				margin-left: 5px;
				margin-top: 5px;
}
@keyframes ballon2 {
    0%,
    100% {
        transform: rotateZ(30deg)
    }
    30% {
        transform: rotateZ(20deg)
    }
    60% {
        transform: rotateZ(40deg)
    }
}